.Dcart {
        width: 70%;
        border-radius: 5px;
        padding: 1rem;
        font-family: sans-serif;
        display: flex;
        flex-direction: wrap;
        justify-content: space-around;
        background-color: #eeeeee;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 3%;

    .order {
          box-shadow: 4px 2px 13px -2px rgba(0,0,0,0.75);
          padding: 1rem;
          display: flex;
          flex-direction: column;
          background-color: white;
          text-align: center;
          width: 60%;
          align-content: center;

          .delete{
            height: 3rem;
            width: 3rem;
            background-color: #a7f8d9;
            border: #a7f8d9;
            font-size: 25px;
            color:rgb(33, 37, 85);
          }

          .delete:hover, .delete:focus, .delete:active{
            cursor: pointer;
            color:rgb(128, 36, 0);
            background-color: teal;
          }

          .delete_2{
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(4, 250, 156, 0.75);
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
            width: 30%;
            margin-top: 1%;
            margin-left: 35%;
            margin-right: 35%;            
            background-color: teal;
            color: white;
            font-size: 1rem;
            font-weight: 70;
            cursor: pointer;
            color:white;
          }

          .delete_2:hover, .delete_2:focus, .delete_2:active{
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(4, 250, 156, 0.75);
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
            width: 30%;
            margin-top: 1%;
            margin-left: 35%;
            margin-right: 35%; 
            background-color: teal;
            color: white;
            font-size: 1rem;
            font-weight: 70;
            cursor: pointer;
            color:white;
            transform: scale(1.1);
            background-color: rgb(128, 36, 0);
          }

          .price_total{
           box-shadow: 4px 2px 13px -2px rgba(0,0,0,0.75);
           display: flex;
           background-color: rgb(209, 200, 200);
           width: 60%;
           margin-top: 2%;
           margin-left: 20%;
           margin-right: 20%;
           text-align: center;
           vertical-align: middle;
           white-space: wrap;

          

          .total_price{
            width: 50%;
            font-size: 1.5rem;
            font-weight: 100;
            color: teal;
            margin-left: 10%;
            margin-right: 5%;
           
        }
      }

  
          h3 {
            position: relative;
          }
    
          h3.topborder {
            margin-top: 0;
          }
    
          h3.topborder:before {
             content: "";
             display: block;
             border-top: 1px solid #c2c2c2;
             width: 100%;
             height: 1px;
             position: absolute;
            top: 50%;
            z-index: 1;
           }
    
          h3.topborder span {
             background: #fff;
             padding: 0 10px 0 0;
             position: relative;
             z-index: 5;
          }

          table{
             color: rgb(33, 37, 85);
             font-weight: 100 sans-serif;
             width:100%;
          }

          table > thead > tr {
            padding:15px 25px;
            text-align: center;
            background-color: #2cc087;
          }

          table > tbody > tr{
            padding:10px 20px;
            text-align: center;
            background-color: #a7f8d9;
          }

          // table  tbody  tr :hover{
          //  background-color: rgb(128, 36, 0);
          // }

    }
      
    .datos {
        box-shadow: 4px 2px 13px -2px rgba(0,0,0,0.75);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        background-color: white;
        text-align: center;
        width: 40%;
        align-content: center;

        h3 {
	        position: relative;
        }
  
        h3.topborder {
          margin-top: 0;
        }
  
        h3.topborder:before {
   	      content: "";
   	      display: block;
   	      border-top: 1px solid #c2c2c2;
   	      width: 100%;
   	      height: 1px;
   	      position: absolute;
          top: 50%;
          z-index: 1;
         }
  
        h3.topborder span {
           background: #fff;
           padding: 0 10px 0 0;
           position: relative;
           z-index: 5;
        }

        .error_v {
          font-size: 0.8rem;
          color:rgb(128, 36, 0);
          font-weight: 700;
        }
    

    .etiqueta{
        display: flex;
        flex-direction: wrap;
        justify-content: space-between;
        align-items: center;

    .input{
      border: 0.01rem solid ;
	    scroll-margin-block: 1rem ;
	    padding: 0.5rem;
      margin-bottom: 0.5rem;
      margin-right: 0.2rem;
      width: 70%;
      text-align: center;
      color: rgb(33, 37, 85);
      font-weight: 100 sans-serif;
      background-color: #a7f8d9;
      
    }
    input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    ::placeholder { 
      color: rgb(33, 37, 85);
      opacity: 1;
    }

    .input:hover, .delete:focus, .delete:active{
          cursor: pointer;
          color:teal;
          background-color: #2cc087;
          ::placeholder { 
            color: rgb(33, 37, 85);
            opacity: 1;
          }
    }    

    label{
      color: rgb(33, 37, 85);
      font-weight: 100 sans-serif;

    }    
  }
  
  .delete_2{
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(4, 250, 156, 0.75);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    width: 45%;
    margin-top: 1%;
    margin-left: 35%;
    margin-right: 35%;            
    background-color: teal;
    color: white;
    font-size: 1rem;
    font-weight: 70;
    cursor: pointer;
    color:white;
  }

  .delete_2:hover, .delete_2:focus, .delete_2:active{
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(4, 250, 156, 0.75);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    width: 45%;
    margin-top: 1%;
    margin-left: 35%;
    margin-right: 35%; 
    background-color: teal;
    color: white;
    font-size: 1rem;
    font-weight: 70;
    cursor: pointer;
    color:white;
    transform: scale(1.1);
    background-color: rgb(128, 36, 0);
  }
}    
}
