.html{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin:0;
}

.footer{
  min-height:1rem;
  background-color: teal;
  width:100%;
  margin-top:auto;  
  // height: 3rem;
}

.footer_social{
width: 20%;
margin-bottom: 0.7rem;
justify-content: space-around;
margin-left: 40%;
margin-right: 40%;
margin-top:0.7rem;
display: flex;
flex-direction: wrap;
justify-content: space-around;

}

.icon{
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  &:hover {
    transform: scale(1.3);
  }
}






