.Rings{
    color:"#00BFFF";
    height:100px;
    width:100px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.item-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
  }